.places {
  margin: 0;
  margin-left: 159px;
  margin-right: 129px;
  margin-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .places {
    margin: 0 4.68%;
    margin-bottom: 92px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .places {
    margin: 0;
    margin-bottom: 66px;
  }
}
