.header {
  display: grid;
  grid-template-columns: 90% 5% 5%;
  margin: 28px 48px 56px 48px;
}
@media screen and (max-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: 89.6% 5.2% 5.2%;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 769px) and (max-width: 943px) {
  .header {
    display: grid;
    grid-template-columns: 88% 6% 6%;
    margin: 28px 24px 48px 24px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 86% 7% 7%;
    margin: 28px 24px 48px 24px;
  }
}
@media screen and (min-width: 450px) and (max-width: 721px) {
  .header {
    display: grid;
    grid-template-columns: 82% 9% 9%;
    margin: 16px 16px 48px 16px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .header {
    display: grid;
    grid-template-columns: 72% 14% 14%;
    margin: 16px 16px 48px 16px;
  }
}
