.intro {
  width: 690px;
  margin-left: 11%;
  margin-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 24px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .intro {
    max-width: 288px;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}
