.places__place {
  margin: 0 auto;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
}
.places__place:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: 440px 1fr;
    margin: 0 48px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: 340px 1fr;
    max-width: 720px;
    margin: 0 24px;
    margin-bottom: 73px;
  }
}
@media screen and (min-width: 320px) and (max-width: 721px) {
  .places__place {
    grid-template-columns: 1fr;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 450px) and (max-width: 721px) {
  .places__place {
    max-width: 450px;
  }
}
